name: Maven Package with SonarCloud & Trivy

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    env:
      SONAR_PROJECT_KEY: springboot-executable-jar-demo
      SONAR_ORGANIZATION: your-org-key

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        server-id: github
        settings-path: ${{ github.workspace }}

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: SonarCloud Scan
      uses: SonarSource/sonarqube-scan-action@v5.0.0
      with:
        args: >
         -Dsonar.projectKey=${{ env.SONAR_PROJECT_KEY }}
         -Dsonar.organization=${{ env.SONAR_ORGANIZATION }}
         -Dsonar.host.url=https://sonarcloud.io
         -Dsonar.login=${{ secrets.SONAR_TOKEN }}
         -Dsonar.java.binaries=target


    - name: Build Docker image
      run: docker build -t springboot-app:latest .

    - name: Trivy Scan Docker image
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: springboot-app:latest
        format: table
        exit-code: 1   # Fail build if vulnerabilities found

    - name: Publish to GitHub Packages
      run: mvn install -s $GITHUB_WORKSPACE/settings.xml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
